In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000205FB20A108>

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE sprint3")

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sprint3',)
('sys',)
('world',)

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1",
  database="sprint3"
)

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE chips (type VARCHAR(255), price VARCHAR(255), quantinty VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [6]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('chips',)

In [7]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE chips ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE chocolate (type VARCHAR(255), price VARCHAR(255), quantinty VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'chocolate' already exists

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE veggies (type VARCHAR(255), price VARCHAR(255), quantinty VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [4]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Sinako@dee1",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE veggies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")